<!--suppress HtmlUnknownTarget -->
<md-toolbar color="primary">
  <span>
     <button md-button (click)="start.toggle()"><md-icon svgSrc="/assets/icons/menu.svg"></md-icon></button>
  </span>
  <span *ngIf="pokemon">{{pokemon.name}}</span>
</md-toolbar>

<md-sidenav-layout class="sidenav-layout">
  <md-sidenav #start mode="side">
    <md-list>
      <md-nav-list><a md-list-item href="/">Ma Collection</a></md-nav-list>
      <md-nav-list><a md-list-item href="/pokemon">Liste des pokémons</a></md-nav-list>
    </md-list>
  </md-sidenav>

  <div *ngIf="pokemon">
    <md-card>
      <md-card-title-group>
        <img md-card-sm-image src="{{ pokemon.sprites.front_default }}">
        <md-card-title>{{pokemon.name}}</md-card-title>
      </md-card-title-group>
      <md-card-content>
        <p>Abilities : {{pokemonService.getPokemonAbilities(pokemon)}}</p>
        <p>Stats : {{pokemonService.getPokemonStats(pokemon)}}</p>
        <p>Moves : {{pokemonService.getPokemonMoves(pokemon)}}</p>
        <p>Types : {{pokemonService.getPokemonTypes(pokemon)}}</p>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="capture()">{{pokemonService.getIndex(pokemon) == -1 ? "Capturer" : "Relacher"}}</button>
      </md-card-actions>
    </md-card>

  </div>
</md-sidenav-layout>
