<md-toolbar color="primary">
  <span>{{title}}</span>
  <span>
  <button md-icon-button [md-menu-trigger-for]="menu">
    <md-icon svgSrc="/assets/icons/menu.svg"></md-icon>
  </button>
  </span>

  <md-menu #menu="mdMenu">
    <button md-menu-item>Liste des pokémons</button>
    <button md-menu-item>Ma collection</button>
  </md-menu>
</md-toolbar>

<!--{{ pokemons|json }}-->

<div class="card-div" *ngFor="let pokemon of pokemons?.results">
  <md-card>{{pokemon.name}}

    <md-card-actions>
      <button md-button (click)="clicked($event, pokemon.url)">Voir le détail</button>
    </md-card-actions>
  </md-card>


</div>
