<md-toolbar color="primary">
  <span>{{title}}</span>
  <span>
     <button md-button (click)="start.open()"><md-icon svgSrc="/assets/icons/menu.svg"></md-icon></button>
  </span>
</md-toolbar>

<md-sidenav-layout class="my-container">
  <md-sidenav #start (open)="closeStartButton.focus()">
    <a href="/">Liste des pokémons</a>
    <br>
    <button md-button #closeStartButton (click)="start.close()">Close</button>
  </md-sidenav>
</md-sidenav-layout>

<div class="card-div" *ngFor="let pokemon of pokemons?.results">
  <md-card>{{pokemon.name}}

    <md-card-actions>
      <button md-button (click)="clicked($event, pokemon.url)">Voir le détail</button>
    </md-card-actions>
  </md-card>


</div>
