<md-toolbar color="primary">
  <span>
     <button md-button (click)="start.toggle()"><md-icon svgSrc="/assets/icons/menu.svg"></md-icon></button>
  </span>
  <span>Pokemon Collection</span>
</md-toolbar>

<md-sidenav-layout class="sidenav-layout">
  <md-sidenav #start mode="side">
    <md-list>
      <md-nav-list><a md-list-item href="/pokemon">Ma Collection</a></md-nav-list>
      <md-nav-list><a md-list-item href="/">Liste des pokémons</a></md-nav-list>
    </md-list>
  </md-sidenav>
  <p>
  pokemon-collection works!
</p>
</md-sidenav-layout>
